<div class="container">
 

  <div class="container mt-5">
    <h1 class="text-center mb-4">Blog Posts</h1>

    <div class="row">

        <div class="col-md-6" *ngIf="postDTO!= null">
            <div style="margin-top: 36px;" class="card mb-4" *ngFor="let blog of postDTO">

              <div class="text-right">
                <button class="btn btn-primary btn-sm mr-2" style="margin-right: 8px;"(click)="updatePost(blog.postId)" >Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deletePost(blog.postId)" >Delete</button>
              </div>
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">Author: {{blog.author}}</small></p>
                    <h2 class="card-title">{{blog.title}}</h2>
                    <p class="card-text"> {{blog.content}}</p>
                    <p class="card-text"><small class="text-muted">Created Date: {{blog.dateCreated | date: 'short'}}</small></p>
                </div>
            </div>
        </div>

        <div class="col-md-6" *ngIf="postDTO == null">
          <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">No Post Found to Display.</h2>
              </div>
          </div>
      </div>
 
 
        <!-- Add more blog items as needed -->

    </div>
</div>
</div>
 