 

<div class="container">
  <h1>Update Blog Post</h1>
  
  <form id="blogForm" (ngSubmit)="updatepost()">
      <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title"  name="title" required  [(ngModel)]="postdto.title" >
      </div>

      <div class="form-group">
          <label for="content">Content:</label>
          <textarea id="content" name="content" rows="4"  required [(ngModel)]="postdto.content"></textarea>
      </div>

      <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" id="author" name="author" required [(ngModel)]="postdto.author">
      </div>

      <div class="form-group">
          <button type="submit">Update Post</button>
      </div>
  </form>
</div>
