 
    <header>
        <h1>My Blog</h1>
    </header>

    <nav>
        <a href="#" role="button" >Go to Blog</a> 
        <a (click)="navigateToCreateblog()" role="button">Create New Blog</a>
    </nav>

  <router-outlet></router-outlet>
 
